
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.md
out/production/dians-task-titans/winery/Winery.class
out/production/dians-task-titans/Test.class
out/production/dians-task-titans/.idea/.name
.idea/uiDesigner.xml
out/production/dians-task-titans/data.geojson
out/production/dians-task-titans/data.osm
out/production/dians-task-titans/winery/ChangeById.class
out/production/dians-task-titans/winery/DuplicatePipe.class
out/production/dians-task-titans/winery/ChangeNameByIdPipe.class
out/production/dians-task-titans/winery/Main.class
out/production/dians-task-titans/winery/OSMParser$1.class
out/production/dians-task-titans/winery/OSMParser.class
out/production/dians-task-titans/winery/RemoveConfusingNames.class
out/production/dians-task-titans/winery/RemoveConfusionsPipe.class
out/production/dians-task-titans/winery/RemoveDuplicates.class
out/production/dians-task-titans/winery/RemoveStreet.class
out/production/dians-task-titans/winery/ChangeByIdFilter.class
out/production/dians-task-titans/winery/RemoveConfusingNamesFilter.class
out/production/dians-task-titans/winery/RemoveStreetFilter.class
out/production/dians-task-titans/winery/RemoveDuplicatesFilter.class
out/production/dians-task-titans/winery/TranslateByIdFilter.class
out/production/dians-task-titans/firstHomework/domasna1.txt
out/production/dians-task-titans/firstHomework/winery/ChangeByIdFilter.class
out/production/dians-task-titans/firstHomework/winery/DuplicatePipe.class
out/production/dians-task-titans/firstHomework/winery/OSMParser$1.class
out/production/dians-task-titans/firstHomework/winery/Main.class
out/production/dians-task-titans/firstHomework/winery/OSMParser.class
out/production/dians-task-titans/firstHomework/winery/RemoveConfusingNamesFilter.class
out/production/dians-task-titans/firstHomework/winery/RemoveConfusionsPipe.class
out/production/dians-task-titans/firstHomework/winery/Winery.class
out/production/dians-task-titans/firstHomework/winery/RemoveStreetFilter.class
out/production/dians-task-titans/firstHomework/winery/RemoveDuplicatesFilter.class
out/production/dians-task-titans/firstHomework/winery/TranslateByIdFilter.class
out/production/dians-task-titans/wineries.json
out/production/dians-task-titans/firstHomework/firstHomework.txt
out/production/dians-task-titans/firstHomework/Функционални-Барања.txt
out/production/dians-task-titans/.gitattributes
firstHomework/winery/wineries.json
secondHomework/.~lock.domasnsodians2 (1).docx\#
firstHomework/winery/wineries.json
firstHomework/winery/wineries.json
firstHomework/winery/wineries.json
thirdHomework/demo/src/main/resources/application-prod.properties
thirdHomework/demo/src/main/resources/application-prod.properties
thirdHomework/demo/src/main/resources/application-prod.properties
